<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

    <!--<img src="img/logo.png" alt="logo">-->

    <!-- About Page -->
    <section id="about" class="about_wrapper">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-7 mb-4 mb-lg-0">
                    <img decoding="async" src="img/about-us.webp" class="img-fluid"  width="70%" alt="About Us">
                </div>
                <div class="col-lg-5 mb-4 mb-lg-0">
                    <h3>About Me</h3>
                    <p>I'm a professional web designer.</p>
                    <p>I'm obsessed with making things and even more obsessed with making things better.
                       My specialty is website strategy, design and development, making pixel magic in photoshop and turning it into beautiful, 
                       semantic HTML & CSS. My interests, however, 
                       extend beyond the web and I love helping people with branding, print design and marketing strategy.</p>
                    <a class="main-btn primary-btn mt-4" href="/img/JayeshPise Resume.pdf" download>Download CV</a>

                </div>
            </div>
            <div class="row justify-content-center pt-5">
                <div class="col-lg-6 mb-4 mb-lg-0">
                    <div class="row">
                        <div class="col-md-4 col-sm-6 mb-4">
                            <div class="single-logo-item">
                                <img decoding="async" src="img/client-img/logo1.webp" class="img-fluid">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 mb-4">
                            <div class="single-logo-item">
                                <img decoding="async" src="img/client-img/logo2.webp" class="img-fluid">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 mb-4">
                            <div class="single-logo-item">
                                <img decoding="async" src="img/client-img/logo3.webp" class="img-fluid">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 mb-4">
                            <div class="single-logo-item">
                                <img decoding="async" src="img/client-img/logo4.webp" class="img-fluid">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 mb-4">
                            <div class="single-logo-item">
                                <img decoding="async" src="img/client-img/logo5.webp" class="img-fluid">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 mb-4">
                            <div class="single-logo-item">
                                <img decoding="async" src="img/client-img/logo6.webp" class="img-fluid">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 mb-4">
                            <div class="single-logo-item">
                                <img decoding="async" src="img/client-img/logo7.webp" class="img-fluid">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 mb-4">
                            <div class="single-logo-item">
                                <img decoding="async" src="img/client-img/logo8.webp" class="img-fluid">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 mb-4">
                            <div class="single-logo-item">
                                <img decoding="async" src="img/client-img/logo9.webp" class="img-fluid">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="offset-lg-2 col-lg-4 col-md-10">
                    <div class="client-info">
                        <div class="d-flex">
                            <span class="large">03</span>
                            <span class="smll">Years <br>Experience <br>Working</span>
                        </div>
                        <div class="call-now d-flex py-4">
                            <div>
                                <span class="fa fa-phone-alt"></span>
                            </div>
                            <div class="ms-4">
                                <p>call us now</p>
                                <h5>(+1)-800-555-6789</h5>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- About Page exit -->

<%- include ('partials/bottom_nav.ejs') %>
<!-- <%- include ('partials/footer.ejs') %> -->
